.main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#title{
    font-size: 40px;
    text-transform: capitalize;
}
#timer{
    font-size: 100px;
}
.URGENT{
    font-weight: bolder;
    color: red;
}
.normal{
    font-weight: normal;
}